# MongoDB Atlas
MONGODB_ATLAS_URI=mongodb://user:pass@localhost:27017/?directConnection=true


# MongoDB Atlas database
DB_NAME=CarClaims
COLLECTION_NAME=vehicle_damage

OLLAMA_BASE_URL=http://localhost:11434
EMBEDDING_MODEL=mxbai-embed-large
LLM_MODEL=qwen2.5vl:7b

